@if (isEmployeeLoggedIn) {
    <mat-toolbar class="header-container">
        <button mat-icon-button (click)="drawer.toggle()"><mat-icon>menu</mat-icon></button>
        <img src="assets/images/roche_logo.jpg" alt="Image not found" routerLink="/" class="header-logo">
        <span>Roche</span>
        <span class="example-spacer"></span>
        <button mat-button>{{employeeName}}</button>
        <button mat-button (click)="signout()"><mat-icon>logout</mat-icon>Sign out</button>
    </mat-toolbar>
    <mat-sidenav-container autosize class="sidenav-container">
        <mat-sidenav #drawer opened="false" mode="push" class="sidenav" hasBackdrop="true">
            <mat-nav-list>
                <a mat-list-item routerLink="/" routerLinkActive="active">Feature1</a>
                <a mat-list-item routerLink="/" routerLinkActive="active">Feature2</a>
                <a mat-list-item routerLink="/" routerLinkActive="active">Feature3</a>
                <a mat-list-item routerLink="/" routerLinkActive="active">Feature4</a>
                <a mat-list-item routerLink="/personaltracker" routerLinkActive="active">Personal tracker</a>
                <a mat-list-item routerLink="/offsetcontribution" routerLinkActive="active">Offset contribution</a>
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content>
            <div class="main-content">
                <router-outlet></router-outlet>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
}
@else {
    <mat-toolbar class="header-container">
        <img src="assets/images/roche_logo.jpg" alt="Image not found" class="header-logo">
        <span>Roche</span>
    </mat-toolbar>
}
